.NotFound{
    &__container {
        text-align: center;
        &--centered {
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h4 {
            color: #333;
            font-size: 20px;
            text-align: center;
            margin-top: 1.645em;
            padding: 0 15px;
            line-height: 1;
            display: block;
            margin-block-start: 1.33em;
            margin-block-end: 1.33em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }
        p {
            color: #666;
            font-size: 1rem;
            text-decoration: none;
            width: auto;
        }
    }
}