.Header{
    &__container {
        position: absolute;
        top: 0;
        width: 100%;
        height: 54px;
        background-color: $primary;
        border-bottom: 1px solid #d9d9d9;
    }
    &__logo {
        position: absolute;
        background-image: url(https://http2.mlstatic.com/ui/navigation/2.3.5/mercadolibre/logo__large.png);
        width: 159px;
        height: 40px;
        left: 10%;
        top: 7px;
        text-indent: -999px;
    }
}